body{
    margin: 10px 10px 10px 10px;
    font-family: 'Podkova', serif;
}

header img{
	max-width: 50%;/*60%*/
	height: auto;
}

h1 {
	color: #f92655;
	font-family: 'Podkova';
	font-weight: bold;
	margin-top: 12px;
}

.masthead-heading {
	color: 	#f92655;
	font-family: 'Podkova', serif;
	font-size: 3rem;
}

.masthead-subheading {	
	color: 	#484c4f;	
	font-family: 'East Sea Dokdo', cursive;
	font-size: 2.5rem;
	letter-spacing: -0.1rem;
}

 ul a {
 	color: #484c4f;
	font-family: 'Podkova';
 }

 .dropdown-item {
 	color: #484c4f;
 }

a:hover {
  color: #753149;
}

.classes {
	background-color: white;
	color: #31101c;
	border: 2px solid #753149;
	font-family: 'Podkova';
	font-weight: bold;
	margin-top: 10px;
}

.img-fluid {
	max-width: 100%;
	height:auto;
}

hr {
	background-color: #f92655;
}

h3 {
	color: #f92655;
	font-family: 'Podkova';
	font-weight: bold;
	margin-top: 10px;
}

h4 {	
	font-family: 'Podkova';
	margin-top: 10px;
}

h5 {
	color: #097893;
	font-family: 'Podkova';
	font-weight: bold;
}

.card {
	border: 2px solid #484c4f;
	margin:1px 1px 1px 1px;
}

.card-deck{
	margin:1px 1px 1px 1px;
}

#invisible{
	border: none;
}

.card-header { 
	background-color: #e8dfe1;
}

.card-title{
	color: 	#f92655;
}

.card-subtitle{
	color: 	#484c4f;
}

.card-video {
	margin-top: 1px;
}

.card-footer {
    background-color: rgba(0,0,0, 0.0);
    }

#lastCard {
	border-color: white;
}

footer {
	margin-top: 40px;
}

.dropdown-divider{
	font-color: 	#f92655;
}

/** BRICOLAGE**/
.masthead-heading-title {
	color: #097893;
}
